@page "/genders"
@using ApecShop.Data.DTOs

@rendermode InteractiveAuto
@inject UnitOfWork uow;

<h3>Genders</h3>

<a href="/" class="btn btn-primary btn-md">add Gender</a>

@if (genders == null)
{
    <p> ...loading</p>
} else
{
    <table class="table table-striped"> 
        <thead>
            <tr>
                <th> Gender</th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in genders)
            {
                <tr>
                    <td> @item.Title </td>
                    <td> 
                        <a href="/" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/" class="btn btn-secondary btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<GenderSelect>? genders;

    protected override async Task OnInitializedAsync()
    {
        genders = await uow.GenderService.GetGenderSelect();
    }

}
